# deps
node_modules/
.pnpm-store/

# builds
dist/
.next/
out/
build/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# prisma
packages/db/prisma/*.db
packages/db/prisma/*.db-journal

# uploads (загруженные пользователями картинки)
apps/api/uploads/

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# test / coverage
coverage/
